﻿@model DecipherItWebApp.ViewModels.CaesarTextDocumentViewModel

<h3>Or Decrypt Word/Text document (We'll guess the key)</h3>
    
@using (Html.BeginForm("UploadAFile", "CaesarCipher", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.LabelFor(m => m.Document.DocumentLanguage);
    @Html.DropDownListFor(m => m.Document.DocumentLanguage, new SelectList(new List<string>() { "English", "Russian" }), new { @class = "form-control" })
    <br/>
    <div class="form-group">
            <input type="file" id="File" name="File" required />
    </div>
    
    <div class="form-group">
        <input type="submit" value="Decrypt the file" class="btn btn-primary" />
    </div>  
}