﻿@model DecipherItWebApp.ViewModels.CaesarTextDocumentViewModel

@{
    ViewBag.Title = "Home Page";
}

@section Scripts {
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}

<h2>Encrypt using Caesar Cipher</h2>

<br />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            @using (Ajax.BeginForm("CipherAjax", "CaesarCipher",
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "resultText",
                    InsertionMode = InsertionMode.Replace
                }))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.CaesarText.ClearText)
                    @Html.TextAreaFor(m => m.CaesarText.ClearText, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.CaesarText.TextLanguage)
                    @Html.DropDownListFor(m => m.CaesarText.TextLanguage, new SelectList(Model.CaesarText.SupportedLanguages.ToList()), new { @class = "form-control" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.CaesarText.Key)
                    @Html.TextBoxFor(m => m.CaesarText.Key, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Encrypt</button>
                </div>
            }
        </div>
        <div id="resultText" class="col-md-6">

        </div>
    </div>
    @Html.Partial("_UploadFileForDecryption")
</div>

